

@font-face{
  src: url('./fonts/OpenSans-Regular.ttf');
  font-family: Google-sans;
}

body {
  margin: 0;
  font-family: Google-sans;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pen {
  fill: #fff; 
}